In [1]:
import pandas as pd
import numpy as np
from api_keys import g_key
import requests
import gmaps
import gmaps.datasets
df_orig=pd.read_csv('WeatherPy_data')
df=df_orig.drop(columns='Unnamed: 0')
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,la ronge,55.1001,-105.2842,56.53,75,91,6.93,CA,1627560656
1,puerto ayora,-0.7393,-90.3518,71.15,87,70,6.91,EC,1627560657
2,mayumba,-3.4320,10.6554,77.27,73,14,9.33,GA,1627560657
3,husavik,66.0449,-17.3389,49.73,96,100,3.04,IS,1627560658
4,avarua,-21.2078,-159.7750,69.85,88,85,3.44,CK,1627560659

In [2]:
gmaps.configure(api_key=g_key)
humidity=df[['Lat','Lng','Humidity']]

locations=humidity[['Lat','Lng']]
weights=humidity['Humidity']
fig=gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations,weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [3]:
conditions=((df['Max Temp']>68)&(df['Max Temp']<78)&(df['Humidity']<70)&(df['Humidity']>55)&(df['Cloudiness']>20)&(df['Cloudiness']<45))
df_vacation=df[conditions]

In [19]:
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}
hotel_lat=[]
hotel_lng=[]

hotel_not_found=[]
for index,row in df_vacation.iterrows():
    lat=row['Lat']
    lng=row['Lng']
    params['location']=f"{lat},{lng}"  
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response=requests.get(base_url,params=params).json()
    try:
        x_lat=response['results'][0]['geometry']['location']['lat']
        x_lng=response['results'][0]['geometry']['location']['lng']
        hotel_lat.append(x_lat)
        hotel_lng.append(x_lng)
    except:
        hotel_not_found.append('')

In [20]:
hotel_lng

[57.47125659999999,
 13.83541,
 90.1034313,
 -104.6938074,
 57.70664069999999,
 86.59512509999999]

In [8]:
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key,
    "location":"-9.8000,-139.0333"
}
response=requests.get(base_url,params=params).json()
x=response['results'][0]['geometry']['location']['lat']
hotel_lat.append(x)
hotel_lat

[-20.5122835, -9.8040123, -9.8040123]